/*============ Google fonts ============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*======= CSS variables =======*/
:root {
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #1F1D1C;
    --navigation-item-hover-color: #3b5378;

    --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

    --scroll-bar-color: #1F1D1C;
    --scroll-thumb-color: #302e2e;
    --scroll-thumb-hover-color: #2b2a2a;
}

/*======= Scroll bar =======*/
::-webkit-scrollbar {
    width: 11px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
}

/*======= Main CSS =======*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--body-bg-color);
}

section {
    position: relative;
}

.section {
    color: var(--white-color);
    background: var(--section-bg-color);
    padding: 35px 200px;
    transition: 0.3s ease;
}

/*======= Header =======*/
header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem + 1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    transition-property: height, background;
}

header.sticky {
    height: calc(2.5rem + 1rem);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s ease;
}

.nav-close-btn, .nav-menu-btn {
    display: none;
}

.nav-bar .logo {
    color: var(--white-color);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navigation .nav-items a {
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    text-shadow: var(--text-shadow);
    padding: 8px;
    transition: 0.5s ease;
    text-align: center;
}

.navigation .nav-items a:not(:last-child) {
    margin-right: 45px;
}

/*======= Home =======*/
.home {
    min-height: 100vh;
}

.home:before {
    z-index: 888;
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, var(--section-bg-color));
}

/*======= Background slider =======*/
.bg-slider {
    z-index: 777;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.bg-slider .swiper-slide {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-slider .swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.swiper-slide .text-content {
    position: absolute;
    top: 25%;
    color: var(--white-color);
    margin: 0 200px;
    transition: 0.3s ease;
}

.swiper-slide .text-content .title {
    font-size: 3em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .title {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content p {
    max-width: 700px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    transform: translateX(-80px);
    opacity: 0;
}

.swiper-slide-active .text-content p {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn {
    border: none;
    outline: none;
    background: var(--white-color);
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(50px);
    opacity: 0;
}

.swiper-slide-active .text-content a {
    text-decoration: none;
}

.swiper-slide-active .text-content .read-btn {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn i {
    font-size: 1.6em;
    transition: 0.3s ease;
}

.swiper-slide .text-content .read-btn:hover i {
    transform: translateX(5px);
}

.dark-layer:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}

.bg-slider-thumbs {
    z-index: 777;
    position: absolute;
    bottom: 7em;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.thumbs-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 3px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

.thumbs-container img {
    width: 50px;
    height: 35px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.swiper-slide-thumb-active {
    border: 1px solid var(--white-color);
}

/*======= Title Section =======*/
.titleSection {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    padding-top: 115px;
    font-size: 30px;
    text-transform: uppercase;
}

/*======= Chi Siamo =======*/
.chisiamo {
    height: fit-content;
    width: 100%;
    background: #1F1D1C;
    color: var(--white-color);
}

.about {
    width: 100%;
    padding: 78px 0px;
}

.about img {
    height: 550px;
    width: 420px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.about-text h1 {
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    font-size: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 25px;
}

.about-text a {
    text-decoration: none;
}

.about-text button {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    color: var(--white-color);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
}

.about-text button:hover {
    background: transparent;
    color: var(--white-color);
    border: 2px solid var(--white-color);
}

.chisiamoH1 {
    transform: translateX(100px);
    opacity: 0;
    transition: 0.3s;
}

.chisiamoIMG {
    transform: translateX(-100px);
    opacity: 0;
    transition: 0.3s;
}

.chisiamoH1.animate,.chisiamoIMG.animate {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.orologi {
    height: fit-content;
    width: 100%;
    background: #1F1D1C;
    padding-bottom: 100px;
}

.titleOrologi {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    padding-top: 100px;
    font-size: 30px;
    text-transform: uppercase;
}

.orologi .rolex, .orologi .ap, .orologi .omega, .orologi .pp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-top: 100px;
}

.orologi .rolex img, .orologi .omega img {
    height: 480px;
    width: 450px;
    float: left;
}

.orologi .ap img, .orologi .pp img {
    height: 480px;
    width: 450px;
    float: right;
}

.orologi .rolex .rolexText h2, .orologi .omega .omegaText h2 {
    color: var(--white-color);
    margin-bottom: 10px;
    font-size: 40px;
}

.orologi .ap .apText h2, .orologi .pp .ppText h2 {
    color: var(--white-color);
    margin-bottom: 10px;
    font-size: 40px;
    text-align: right;
}

.orologi .rolex .rolexText p, .orologi .omega .omegaText p  {
    margin-right: 50px;
    width: 950px;
    color: var(--white-color);
    margin-top: 20px;
    line-height: 30px;
}

.orologi .ap .apText p, .orologi .pp .ppText p {
    margin-left: 50px;
    width: 950px;
    color: var(--white-color);
    margin-top: 20px;
    line-height: 30px;
    text-align: right;
}

/*.orologi .rolex .rolexText button, .orologi .omega .omegaText button {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    color: var(--white-color);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
    cursor: pointer;
    margin-top: 30px;
}

.orologi .ap .apText button, .orologi .pp .ppText button {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    color: var(--white-color);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
    cursor: pointer;
    margin-top: 30px;
    float: right;
}

.orologi .rolex .rolexText button:hover, .orologi .ap .apText button:hover, .omega .omegaText button:hover, .pp .ppText button:hover  {
    background: transparent;
    color: var(--white-color);
    border: 2px solid var(--white-color);
}*/

.rolex .hrContainer, .omega .hrContainer{
    text-align: left;   
}

.rolex .hrContainer hr, .omega .hrContainer hr {
    display: inline-block;
    width: 30%;
}

.ap .hrContainer, .pp .hrContainer {
    text-align: right;   
}

.ap .hrContainer hr, .pp .hrContainer hr {
    display: inline-block;  
    width: 50%;
}

.sdp {
    height: fit-content;
    width: 100%;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sdp button {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    color: var(--white-color);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
}

.sdp button:hover {
    background: transparent;
    color: var(--white-color);
    border: 2px solid var(--white-color);
}

.contatti {
    height: fit-content;
    width: 100%;
    background: #1F1D1C;
}

.contact-bg {
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../images/contattibg.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}

.contact-bg h2 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.text {
    font-weight: 500;
    opacity: 0.9;
    color: var(--white-color);
}

.contact-bg .text {
    margin: 1.6rem 0;
}

.contact-body {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

.contact-info {
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}

.contact-info span {
    display: block;
    color: var(--white-color);
}

.contact-info div {
    margin: 0.8rem 0;
    padding: 1rem;
}

.contact-info span .fa-solid {
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: var(--body-bg-color);
}

.contact-info div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.1rem;
}

.contact-form {
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}

.contact-form form {
    padding-bottom: 1rem;
}

.form-control {
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}

.form-control:focus {
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

.contact-form form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.send-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--white-color);
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.send-btn:hover {
    opacity: 0.8;
}

.contact-form > div img {
    width: 85%;
}

.contact-form > div {
    margin: 0 auto;
    text-align: center;
}

.contact-footer {
    padding: 2rem 0;
    padding-bottom: 65px;
}

.contact-footer h3 {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}

.social-links a:hover {
    color: var(--white-color);
    border-color: transparent;
    background-color: #000;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerWDM {
    height: fit-content;
    width: 100%;
    background: #2b2a2a;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

.footerWDM img {
    height: 150px;
    width: 150px;
}

/* code written by Anouar El Kihal (eabug) */
